body {
    color: #ffffff;
    font-size: 16px;
    overflow: hidden;
}

button {
    cursor: pointer;
}

.chat-screen {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.chat-manager {
    border-top: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.chat-contents {
    justify-content: center;
}

.chat-manager:nth-child(1) {
    border-right: 2px solid;
}

.chat-preview {
    display: flex;
    align-items: center;
    min-height: 50px;
    border-bottom: 1px solid;
    width: 100%;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.chat-preview:hover {
    color: rgba(255, 255, 255, 1);
}

#add-chat {
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
}

#add-chat:disabled {
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
}

#chat-preview-section {
    overflow-y: scroll;
    height: 90%;
}

fieldset {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    font-family: sans-serif;
    position: relative;
    bottom: 2rem;
    left: 1rem;
    height: 3rem;
    display: flex;
}

label,
input {
    font-size: 1rem;
    padding: 0.2rem;
    margin: 0.1rem 0.2rem;
    /* the following ensures they're all using the same box-model for rendering */
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.channel-submit {
    border: none;
    background-color: #1f1a24;
    color: #fff;
}

.channel-input {
    border-radius: 0.8rem;
    border: none;
}

.channel-input::placeholder {
    text-align: center;
}

svg {
    margin: 0 auto;
    display: block;
}

.rotate45 {
    rotate: -45deg;
}

/* @keyframes antiClockwiseSpin {
    to {
        transform: rotate(45deg);
    }
}
 */
/* svg:hover #add-button-svg {
    animation: antiClockwiseSpin 0.1s infinite linear;
    transform-origin: center;
    animation-iteration-count: 1;
}
 */
